name: Deploy Node App

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Create release
        run: |
          RELEASE=$(date +%Y%m%d%H%M%S)
          mkdir -p /var/www/cd_sync/releases/$RELEASE
          rsync -a --delete \
            --exclude=node_modules \
            --exclude=.git \
            ./ /var/www/cd_sync/releases/$RELEASE/

          cd /var/www/myapp
          ln -sfn releases/$RELEASE current

      - name: Install prod deps
        run: |
          cd /var/www/cd_sync/current
          npm ci --omit=dev

      - name: Restart service
        run: sudo systemctl restart cd_sync
